@import '../_variables';

.marker {
  border-radius: 100%;
  background-color: $green;

  &.marker-green { background-color: $green; }
  &.marker-red { background-color: $red; }

  &:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 15px solid $green;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 25%;
    right: 10px;
  }
}
