<div class="weather">
  <div class="temperature">
    <img src="{{ getWeatherImage() }}" alt="{{weather.weather[0].main}}">
    <span class="value {{ isDay() ? 'clear' : 'dark'}}">{{weather.main.temp.toFixed(1)}}°C</span>
  </div>

  <div class="wind">
    <i data-feather="wind"></i>
    <span class="value">{{weather.wind.speed}}kmh</span>
  </div>

  <div>
    <i data-feather="info"></i>
  </div>
</div>
