@import '../../../../styles/variables';

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $white;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px #cecece;
  -moz-box-shadow: 0px 1px 5px 0px #cecece;
  box-shadow: 0px 1px 5px 0px #cecece;

  img {
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  .value {
    padding: 2px 10px;
    border-radius: 20px;
    color: $white;
    margin-left: 2rem;
  }

  .temperature,
  .wind {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .temperature {
    .value {
      &.clear {
        background-color: $yellow;
      }

      &.dark {
        background-color: $darkBlue;
      }
    }
  }

  .wind {
    color: $lightBlue;

    .value {
      background-color: $lightBlue;
    }
  }
}
