@import '../../../../styles/variables';

.date-container {
  position: relative;

  .date-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    color: $grey;
  }
}

.time-container {
  display: flex;
  justify-content: space-between;

  mat-form-field {
    width: 45%;
  }

  mat-select {
    background-color: #EFF2F7;
    height: 5rem;
    border: none;
    -webkit-box-shadow: 0px 1px 5px -3px #22314f;
    -moz-box-shadow: 0px 1px 5px -3px #22314f;
    box-shadow: 0px 1px 5px -3px #22314f;

    .mat-select-trigger {
      margin: 1.7rem 1rem;
    }
  }

  .mat-form-field-underline {
    display: none;
  }
}
