<div class="date-container">
  <input
    id="date"
    type="text"
    [min]="minDate"
    [value]="date.toDate()"
    [matDatepicker]="datePicker"
    (click)="datePicker.open()"
    (dateChange)="onDateChange($event)"
    autocomplete="off"
    required
  >
  <mat-datepicker #datePicker></mat-datepicker>
  <i data-feather="calendar" class="date-icon"></i>
</div>

<div class="time-container">
  <mat-form-field>
    <mat-label>Heure</mat-label>
    <mat-select name="hour" [(value)]="hours" class="column-50" (selectionChange)="onHoursChange($event)">
      <mat-option
        *ngFor="let h of allHours"
        [value]="h"
        [disabled]="shouldDisableHour(h)"
      >
        {{ h }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Minutes</mat-label>
    <mat-select name="minutes" [(value)]="minutes" class="column-50" (selectionChange)="onMinutesChange($event)">
      <mat-option
        *ngFor="let m of allMinutes"
        [value]="m"
        [disabled]="shouldDisableMinute(m)"
      >
        {{ m }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

