@import '../../../../styles/variables';

.floating-label {
  position: relative;
  margin: 15px 0;

  label {
    position: absolute;
    color: $grey;
    transform: translate(15px, -5rem);
    font-weight: normal;
    transition: all .3s ease;

    &:hover {
      cursor: text;
    }
  }

  input {
    &:focus + label,
    &:valid + label {
      color: $green;
      transform: translate(10px, -7.6rem);
      font-size: 13px;
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 4px;

    &.mat-icon-button:hover,
    &.mat-icon-button:focus {
      background-color: #EFF2F7;
      box-shadow: none;
    }
  }
}
