<div class="floating-label">
  <input
    [id]="id"
    type="text"
    matInput
    required
    [formControl]="formControl"
    [matAutocomplete]="auto"
  >
  <label [for]="id">{{ label }}</label>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let address of results; let i = index" [value]="address">
      {{ address }}
    </mat-option>
  </mat-autocomplete>

  <button
    mat-icon-button
    color="primary"
    aria-label="Clear input"
    *ngIf="shouldDisplayClearButton()"
    (click)="onClear()"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>
