<div>
  <app-weather-item
    *ngIf="weather && weather.departure"
    [weather]="weather.departure"
  ></app-weather-item>

  <ng-content></ng-content>

  <app-weather-item
    *ngIf="weather && weather.arrival"
    [weather]="weather.arrival"
  ></app-weather-item>
</div>
