@import '../../../../styles/variables';

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 100%;
  border: 0;

  img {
    width: 20px;
  }
}

#btn-reverse-route {
  position: absolute;
  right: -35px;
  top: 100px;
}

mat-radio-group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mat-radio-label-content {
    display: flex;
    align-items: center;
    font-weight: normal;
  }

  img {
    margin: 0 12px 0 5px;
  }
}

.btn-submit {
  display: block;
  margin: 20px auto;
  min-width: 75%;
}
