<h2>Trouvez votre itinéraire</h2>

<div>
  <app-autocomplete-address [id]="AUTOCOMPLETE_ID.DEPARTURE" [label]="'Départ'"></app-autocomplete-address>

  <button
    title="Inverser l'itinéraire"
    id="btn-reverse-route"
    class="btn-circle bg-green"
    role="button"
    tabindex="0"
    (click)="onSwitchDirections()"
  >
    <img src="assets/reverse-arrow.svg" alt="Flèches inversées">
  </button>

  <app-autocomplete-address [id]="AUTOCOMPLETE_ID.ARRIVAL" [label]="'Arrivée'"></app-autocomplete-address>

  <app-date-time></app-date-time>

  <mat-radio-group aria-labelledby="radio-group" class="radio-group" (change)="onModeChange($event)" [value]="routeForm.mode">
    <mat-radio-button class="radio-button" [value]="MODES.BIKE">
      <img src="assets/bicycle.svg" alt="Vélo" class="svg-green" width="40px">
      <span>À vélo</span>
    </mat-radio-button>

    <mat-radio-button class="radio-button" [value]="MODES.PEDESTRIAN">
      <img src="assets/pedestrian.svg" alt="Piéton" class="svg-green" width="30px">
      <span>À pied</span>
    </mat-radio-button>
  </mat-radio-group>

  <button
    type="submit"
    class="button btn-submit"
    [disabled]="shouldDisableSubmit()"
    (click)="onSubmit()"
  >
    Chercher
  </button>
</div>
