<div class="row text-heading">
  <h2 class="column column-80 column-offset-10">
    Pour une sortie au cinéma, une visite d’un musée, un petit restaurant, ou pour aller au bureau, pourquoi ne pas <span>se déplacer à vélo</span> ?
  </h2>
</div>

<div class="row flex-around-center">
  <div class="column column-25 relative">
    <app-route-form *ngIf="!displayRoadmap"></app-route-form>
    <app-roadmap *ngIf="displayRoadmap"></app-roadmap>
  </div>

  <div class="column column-67">
    <app-map></app-map>
  </div>
</div>

