button, .button {
  background-color: $green;
  border: 0;
  transition: all .3s ease;

  &:hover,
  &[disabled]:hover {
    background-color: $green;
    @include shadow;
    transform: translateY(-1px);
  }
}

input[type=text],
input[type=date] {
  background-color: #EFF2F7;
  height: 5rem;
  border: none;
  @include shadow;

  &:focus {
    outline: none;
  }
}
