$white: #FBFBFF;
$lightBlue: #85BFF2;
$blue: #5C85A9;
$green: #4CAF50;
$yellow: #FFDA7A;
$red: #ba0007;
$purple: #6561A1;
$darkBlue: #22314F;
$lightGrey: #e5e5e5;
$grey: #777777;
$darkGrey: #3e3e3e;
$black: #000000;

@mixin shadow {
  -webkit-box-shadow: 0px 1px 5px -3px #22314f;
  -moz-box-shadow: 0px 1px 5px -3px #22314f;
  box-shadow: 0px 1px 5px -3px #22314f;
}
