@import '_variables.scss';
@import '_positions.scss';
@import '_elements.scss';
@import 'map/marker';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
}

body {
  font-family: Montserrat, sans-serif;
  color: $darkGrey;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 3rem;
}

.bg-green { background-color: $green; }

.svg-green {
  filter: invert(61%) sepia(9%) saturate(2650%) hue-rotate(73deg) brightness(95%) contrast(86%);
}

.svg-blue {
  filter: invert(53%) sepia(8%) saturate(2023%) hue-rotate(167deg) brightness(93%) contrast(84%);
}

.svg-white {
  filter: invert(100%) sepia(13%) saturate(4124%) hue-rotate(180deg) brightness(99%) contrast(107%);
}
