@import '~@angular/material/theming';
@include mat-core();

// For each palette, you can optionally specify a default, lighter, and darker
$candy-app-primary: mat-palette($mat-green);
$candy-app-accent: mat-palette($mat-green, 400, 200, 700);
$candy-app-warn: mat-palette($mat-yellow);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
