<div class="flex-between-center roadmap-header">
  <img
    alt="Mode de transport"
    class="svg-green"
    src="{{ mode === MODES.BIKE ? 'assets/bicycle.svg' : 'assets/pedestrian.svg' }}"
    width="40px"
  >

  <p class="summary">
    Itinéraire de <strong>{{ departure }}</strong> à <strong>{{ arrival }}</strong>. <br>
    Le <em>{{ date | date:'d MMMM yyyy à HH:mm':'':'fr-FR' }}</em>
  </p>

  <button class="flex-center btn-edit" (click)="onEdit()">
    <mat-icon class="block">edit</mat-icon>
  </button>
</div>

<div class="resume">
  <i data-feather="map" class="icon-green"></i>
  <span>{{ getDistance(distance) }} en {{ getTime(time) }}</span>
</div>

<app-weather>
  <div class="roadmap">
    <div *ngFor="let step of instructions" class="step flex-between-center">
      <div class="flex-start-center">
        <div [ngSwitch]="step.sign" class="signal">
          <i *ngSwitchCase="Signs.KEEP_LEFT" data-feather="arrow-left-circle"></i>
          <i *ngSwitchCase="Signs.SHARP_LEFT" data-feather="arrow-down-left"></i>
          <i *ngSwitchCase="Signs.LEFT" data-feather="corner-up-left"></i>
          <i *ngSwitchCase="Signs.SLIGHT_LEFT" data-feather="arrow-up-left"></i>
          <i *ngSwitchCase="Signs.STRAIGHT" data-feather="arrow-up"></i>
          <i *ngSwitchCase="Signs.SLIGHT_RIGHT" data-feather="arrow-up-right"></i>
          <i *ngSwitchCase="Signs.RIGHT" data-feather="corner-up-right"></i>
          <i *ngSwitchCase="Signs.SHARP_RIGHT" data-feather="arrow-down-right"></i>
          <i *ngSwitchCase="Signs.FINISH" data-feather="map-pin" color="red"></i>
          <i *ngSwitchCase="Signs.REACHED" data-feather="arrow-down-left"></i>
          <i *ngSwitchCase="Signs.ROUNDABOUT" data-feather="circle"></i>
          <i *ngSwitchCase="Signs.KEEP_RIGHT" data-feather="arrow-right-circle"></i>
        </div>

        <div class="instruction">{{ step.text }}</div>
      </div>

      <div class="indications">
        <div>{{ getDistance(step.distance) }}</div>
        <div>{{ getTime(step.time) }}</div>
      </div>
    </div>
  </div>
</app-weather>
