@import '../../../styles/variables';

.roadmap-header {
  margin: 1.5rem 0;

  img {
    margin: 1rem 2rem 1rem 1rem;
  }

  .summary {
    margin: 0;
  }

  button {
    &.btn-edit {
      background-color: white;
      color: $green;
      border: 1px solid $lightGrey;
      min-width: 40px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      padding: 0;
      @include shadow;
    }
  }
}

.resume {
  display: flex;
  align-items: center;

  .icon-green {
    color: $green;
    margin: 2rem;
  }
}

.roadmap {
  max-height: 350px;
  margin: 10px 0;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

  .step {
    margin-right: 2rem;
    padding: .5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $lightGrey;
    }

    .instruction {
      margin: 1.5rem;
    }

    .indications {
      text-align: right;
      color: $grey;
    }
  }
}
