<header class="toolbar" role="banner">
  <img src="assets/bicycle.svg" alt="BeBike logo" class="svg-white">
  <h1>BeBike</h1>
</header>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>

<footer></footer>
