@import '../styles/_variables.scss';

header {
  height: 74px;
  width: 100%;
  background-color: $green;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.75);

  img {
    width: 52px;
    margin: 0 20px;
  }

  h1 {
    color: $white;
    font-weight: normal;
    font-size: 40px;
    margin: 0;
  }
}

main {
  padding: 0 50px;
}
